.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemons-wrapper {
  background-color: white;
  border-radius: 0.7rem;
  color: black;
}
.data {
  padding: 1rem;
  font-weight: bold;
}